<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sapuser.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Aeris Library uses the network state to determine if network is availabe to make calls  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Google maps requries this now with tiles -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- (Optional If you want location services to be used as well) -->
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity2"
            android:label="About Activity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"/>



        <activity
            android:name=".ResultActivity"
            android:label="Result Activity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"/>
        <activity
            android:name=".DetailsActivity"
            android:label="Details Acitivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1530052233984175"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name=".MapActivity"
            android:label="Map Acitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
       <!-- <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="MapsActivity"
            android:label="@string/title_activity_maps"></activity>-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA_iz-D_4ql9k28sXYniSd50Z2TaS6zcV0" />



        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>




    </application>

</manifest>
